DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public
NEXTAUTH_URL=https://seu-dominio-ou-url.easypanel.app
NEXTAUTH_SECRET=troque-por-uma-chave-forte
APP_ENCRYPTION_KEY=BASE64_32_BYTES

# Opcionais
SEED_SUPER_ADMIN_EMAIL=admin@vivachurch.local
SEED_SUPER_ADMIN_PASSWORD=ChangeMe123!
TEMP_MEMBER_INTAKE_ENABLED=true

# Mobile (opcional etapa 1)
APP_JWT_EXPIRES_IN_DAYS=30
APP_ALLOWED_MOBILE_ORIGINS=*

# Integracao YouTube
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_HANDLE=@viva_sede
YOUTUBE_CHANNEL_ID=

# Expo Push / EAS (Etapa 4)
EXPO_ACCESS_TOKEN=
EXPO_PUSH_PROJECT_ID=
